.App {
  max-width: 600px;
  margin: 10px;
  min-height: 98vh;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

